.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
   
    padding: 10px;
}
.body{
    padding: 10px;
    border: 2px solid blue;

}
.user-name{
    color: red;
}
.user-email{
    color: rgb(24, 24, 24);
}
.user-age{
    color: red;
}
.nav{
    background: black;
    color: white;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.body1{
    background: blue;
    height: 100vh;
    text-align: center;
}
.body1 h1{
    font-size: 42px;
} 
